<suite name="Cross Browser Suite" parallel="tests" thread-count="3">

    <test name="Chrome_128_Win10">
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="128.0"/>
        <parameter name="platform" value="Windows 10"/>
        <parameter name="url" value="https://www.lambdatest.com/selenium-playground/"/>
        <classes>
            <class name="Capabilities.TestScenario3"/>
        </classes>
    </test>

    <test name="Edge_127_macOS">
        <parameter name="browser" value="MicrosoftEdge"/>
        <parameter name="version" value="127.0"/>
        <parameter name="platform" value="macOS Ventura"/>
        <parameter name="url" value="https://www.lambdatest.com/selenium-playground/"/>
        <classes>
            <class name="Capabilities.TestScenario3"/>
        </classes>
    </test>

    <test name="Firefox_130_Win11">
        <parameter name="browser" value="firefox"/>
        <parameter name="version" value="130.0"/>
        <parameter name="platform" value="Windows 11"/>
        <parameter name="url" value="https://www.lambdatest.com/selenium-playground/"/>
        <classes>
            <class name="Capabilities.TestScenario3"/>
        </classes>
    </test>

</suite>
