<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelSliderTest" parallel="tests" thread-count="2">

    <test name="SliderTest on Chrome - Windows 10">
        <parameter name="browser" value="Chrome"/>
        <parameter name="platform" value="Windows 10"/>
        <parameter name="browserVersion" value="latest"/>
        <classes>
            <class name="Capabilities.testScenario2_Draganddrop"/>
        </classes>
    </test>

    <test name="SliderTest on Safari - macOS Catalina">
        <parameter name="browser" value="Safari"/>
        <parameter name="platform" value="macOS Catalina"/>
        <parameter name="browserVersion" value="13.1"/>
        <classes>
            <class name="Capabilities.testScenario2_Draganddrop"/>
        </classes>
    </test>

</suite>
